@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --preto:#1E1014;
    --cinza:#403D39;
    --azul:#340068;
    --laranja:#FC440F;
    --bege:#EAF0CE;
}


*{
    color: var(--bege);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}
nav{
    background-color: #1E1014;
    border: 2px solid #121a74;
    border-radius: 20px;
    text-align: end;
    width: 1470px;
    padding: 15px;
}

nav > a{
    color: #a47ec9;
    margin-left: 10px;
    margin-right: 10px;
}


div#title{
    margin: auto;
    text-align: center;
    font-size: 35px;
    font-weight: 700
}
div#title > h1{
    font-family: "Oswald", sans-serif;
    font-size: 65px;
    font-weight: 700
}
span{
    color: #a47ec9;
    font-family: "Oswald", sans-serif;
}

input{
    color: rgb(255, 255, 255);
    background-color: #2c2c2c;
}

#create-post{
    background-color: #100e13;
    width: 500px;
    height: 300px;
    padding: 30px;
    float: right;
    margin-top: -10px;
    border-radius: 5px;
    display: none;
}
#create-area{
    text-align: center;

}

#close{
    background-color: #0d256c;
    display: flex;
   margin-left: 490px;
}

#posts{
    background-image:linear-gradient(to bottom right, rgb(204, 162, 162),#fff) ;
    width: 1200px;
    margin: auto;
    border-radius: 20px;
    padding: 40px  20px  20px  20px;  
}

.post{
    background-color: var(--cinza);
    width:1000px;
    height: 130px;
    margin: auto;
    padding: 6px 10px 10px 10px ;
    border-radius: 5px;
    margin-bottom: 20px;
}

#user{
display: flex;
flex-direction: row;

}
#nickname{
    color: #f3e9ec;
    margin-left: 10px;
    font-size: 16px;
}
hr{
    width: 800px;
}

#icon{
    width: 55px;
    border-radius: 50%;

}

#data{
    margin-left: 10px;
}